{% extends 'base.html' %} {% block body %}
<div class="container px-3" style="margin-top: 10px;">
    <form action="/contact" method="post">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label for="name">name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>

        <div class="input-group mb-3">
            <label for="email">email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>

        <div class="input-group mb-3">
            <label for="phone">phone</label>
            <input type="text" class="form-control" name="phone" id="phone">
        </div>

        <div class="input-group mb-3">
            <label for="desc">desc</label>
            <input type="text" class="form-control" name="desc" id="desc">
            <!-- <textarea class="form-control" aria-label="With textarea"></textarea> -->
        </div>
        <button class="btn-btn-primary" type="submit" style="margin-left: 600px;"> submit</button>
    </form>
</div>
{%endblock body%}